//------------------------------------------------------------------------------
//            FONTS 
//------------------------------------------------------------------------------
//Bootstrap
$icon-font-path: "../fonts/bootstrap/";

//------------------------------------------------------------------------------
//            COLORS 
//------------------------------------------------------------------------------
$primary-color:         #5C1717;    //#440C0C;    //Marrone
$secondary-color:       #971F26;    //Rosso mattone
$tertiary-color:        #EDC9A5;    //Beige 975F13 

// Calendar
$day-container-bg-color: transparent;
$day-bg-color: $white;//$lightblue;

// Projects
$project1: $violet;
$project2: $purple;
$project3: $blue;
$project4: $lightblue;
$project5: $green;

//------------------------------------------------------------------------------
//            BASE 
//------------------------------------------------------------------------------
//---------- base.scss ---------------------------------------------------------
$font-family: Inika, Roboto, 'Open Sans', Verdana, sans-serif;
$font-size: 16px;
$font-color: #090D19;   //Blu scurissimo
$page-bg-color: #FFF;
$link-color: $primary-color;
$link-hover-color: lighten($link-color, 20%);

//------------------------------------------------------------------------------
//            LAYOUT
//------------------------------------------------------------------------------

//------------------------------------------------------------------------------
//            MODULES
//------------------------------------------------------------------------------